In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.2f}'.format

In [2]:
portfolio_df = pd.DataFrame({"fake1": np.random.rand(100), "fake2": np.random.rand(100), "fake3": np.random.rand(100)})
portfolio_df

    fake1  fake2  fake3
0    0.13   0.61   0.41
1    0.73   0.43   0.23
2    0.85   0.87   0.74
3    0.09   0.89   0.87
4    0.69   0.38   0.49
..    ...    ...    ...
95   0.98   0.87   0.66
96   0.54   0.41   0.21
97   0.81   0.94   0.37
98   0.28   0.44   0.71
99   0.52   0.65   0.56

[100 rows x 3 columns]

In [3]:
initial_investment = 10000

In [4]:
def cumulative_returns(df):
    return (1 + df).cumprod()

In [5]:
user_cr = cumulative_returns(portfolio_df)
user_cr

                   fake1                  fake2                fake3
0                   1.13                   1.61                 1.41
1                   1.94                   2.30                 1.74
2                   3.58                   4.32                 3.03
3                   3.90                   8.14                 5.65
4                   6.58                  11.24                 8.43
..                   ...                    ...                  ...
95  70035101678363320.00  314710533226981632.00  9663438220215164.00
96 107729223620470736.00  444470221040993792.00 11735778078080512.00
97 195505898906842944.00  860702785549956608.00 16112034568902956.00
98 249868714164686464.00 1239827364067337472.00 27502752562507796.00
99 378870421457924288.00 2048266091062991616.00 42767129639676960.00

[100 rows x 3 columns]

In [6]:
def covariance(df, ticker, market):
    return df[ticker].cov(df[market])

In [7]:
user_covariance = covariance(portfolio_df, 'fake2', 'fake3')
user_covariance

0.004960691391420401

In [8]:
def variance(df, market):
    return df[market].var()

In [9]:
user_variance = variance(portfolio_df, 'fake3')
user_variance

0.07694747325690647

In [10]:
def drawdown(df, tickers):
    Roll_Max = df[tickers].cummax()
    Daily_Drawdown = df[tickers]/Roll_Max - 1.0
    Max_Daily_Drawdown = Daily_Drawdown.cummin()* 100
    return Max_Daily_Drawdown

In [11]:
user_drawdown = drawdown(portfolio_df, 'fake2')
user_drawdown

0      0.00
1    -30.56
2    -30.56
3    -30.56
4    -56.95
      ...
95   -99.93
96   -99.93
97   -99.93
98   -99.93
99   -99.93
Name: fake2, Length: 100, dtype: float64

In [12]:
def tracking_error(df, tickers, market):
    track_error = np.sqrt(sum([i**2 for i in df[tickers] - df[market]]))
    return track_error

In [13]:
user_tracking_error = tracking_error(portfolio_df, 'fake2', 'fake3')
user_tracking_error

3.904283536974744

In [14]:
def beta(covariance, variance):
    return covariance / variance

In [15]:
user_beta = beta(user_covariance, user_variance)
user_beta

0.06446854173961003

In [16]:
def sharpe_ratio(df):
    sharpe = (df.mean()*252) / (df.std() * np.sqrt(252))
    return sharpe

In [17]:
user_sharpe_ratio = sharpe_ratio(portfolio_df)
user_sharpe_ratio

fake1   32.21
fake2   30.41
fake3   28.21
dtype: float64

In [18]:
def return_on_investment(investment, returns):
    cumulative_profit = investment * returns
    return_oi = (cumulative_profit - investment) / investment
    return(return_oi)

In [19]:
user_roi = return_on_investment(initial_investment, user_cr)
user_roi

                   fake1                  fake2                fake3
0                   0.13                   0.61                 0.41
1                   0.94                   1.30                 0.74
2                   2.58                   3.32                 2.03
3                   2.90                   7.14                 4.65
4                   5.58                  10.24                 7.43
..                   ...                    ...                  ...
95  70035101678363320.00  314710533226981632.00  9663438220215162.00
96 107729223620470736.00  444470221040993792.00 11735778078080512.00
97 195505898906842944.00  860702785549956608.00 16112034568902958.00
98 249868714164686464.00 1239827364067337472.00 27502752562507796.00
99 378870421457924288.00 2048266091062991616.00 42767129639676960.00

[100 rows x 3 columns]