In [20]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.2f}'.format

In [22]:
portfolio_df = pd.DataFrame({"fake1": np.random.rand(100), "fake2": np.random.rand(100)})
portfolio_df

    fake1  fake2
0    0.85   0.85
1    0.89   0.28
2    0.29   0.33
3    0.70   0.56
4    0.98   0.54
..    ...    ...
95   0.17   0.28
96   0.64   0.89
97   0.02   0.39
98   0.89   0.30
99   0.44   0.73

[100 rows x 2 columns]

In [30]:
def cumulative_returns(df):
    return (1 + df).cumprod()

In [32]:
user_cr = cumulative_returns(portfolio_df)
user_cr

                   fake1                fake2
0                   1.85                 1.85
1                   3.50                 2.37
2                   4.51                 3.16
3                   7.67                 4.91
4                  15.22                 7.56
..                   ...                  ...
95  90796803894506720.00  3912455743362907.50
96 148460805963681536.00  7388886111777006.00
97 150842096717636192.00 10233780363269152.00
98 285018869951443424.00 13286789099226374.00
99 411074097298653632.00 23026409274652380.00

[100 rows x 2 columns]

In [37]:
def covariance(df, ticker, market):
    return df[ticker].cov(df[market])

In [38]:
user_covariance = covariance(portfolio_df, 'fake1', 'fake2')
user_covariance

0.003554021406334947

In [39]:
def variance(df, market):
    return df[market].var()

In [41]:
user_variance = variance(portfolio_df, 'fake2')
user_variance

0.08232571613767896

In [53]:
def drawdown(df, tickers):
    Roll_Max = df[tickers].cummax()
    Daily_Drawdown = df[tickers]/Roll_Max - 1.0
    Max_Daily_Drawdown = Daily_Drawdown.cummin()* 100
    return Max_Daily_Drawdown

In [54]:
user_drawdown = drawdown(portfolio_df, 'fake1')
user_drawdown

0      0.00
1      0.00
2    -67.71
3    -67.71
4    -67.71
      ...
95   -98.99
96   -98.99
97   -98.99
98   -98.99
99   -98.99
Name: fake1, Length: 100, dtype: float64